body {
    background: #eef2f7;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 20px;
}

.video-box {
    width: 650px;
    margin: auto;
    padding: 10px;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}
